In [2]:
import sqlite3
import pandas as pd

#Connect to the SQLite database
#Creating a new SQLite database called 'Movies'
conn = sqlite3.connect('Movies.db')

c = conn.cursor()

print("Database created and Successfully Connected to SQLite")
print("______________________________________________")


#Creating a new table (Movies)
c.execute("""CREATE TABLE Movies (
            MOVIE text,
            ACTOR text,
            ACTRESS text,
            YEAR_OF_RELEASE integer,
            DIRECTOR text
            )""")


#Inserting data into Movies table

c.execute("INSERT INTO Movies VALUES ('The Notebook', 'Ryan Gosling', 'Rachel McAdams', 2004, 'Nick Cassavetes')")
c.execute("INSERT INTO Movies VALUES ('Harry Potter', 'Daniel Radcliffe', 'Emma Watson', 2007, 'David Yates')")
c.execute("INSERT INTO Movies VALUES ('Monte Carlo', 'Pierre Boulanger', 'Selena Gomez', 2011, 'Thomas Bezucha')")
c.execute("INSERT INTO Movies VALUES ('Interstellar', 'Matthew McConaughey', 'Anne Hathaway', 2014, 'Christopher Nolan')")
c.execute("INSERT INTO Movies VALUES ('Ek Villain', 'Sidharth Malhotra', 'Shraddha Kapoor', 2014, 'Mohit Suri')")
c.execute("INSERT INTO Movies VALUES ('A Rainy Day in New York', 'Timothée Chalamet', 'Selena Gomez', 2019, 'Woody Allen')")
c.execute("INSERT INTO Movies VALUES ('Shershaah', 'Sidharth Malhotra', 'Kiara Advani', 2021, 'Vishnuvardhan')")


          
          
print('\nColumns in MOVIE table\n')
data=c.execute('''SELECT * FROM Movies''')
for column in data.description:
    print(column[0])
print("______________________________________________")    


#querying all rows from the Movies table
print('\nRows in MOVIE table\n')
c.execute('''SELECT * from Movies''')
rows = c.fetchall()
for row in rows:
    print(row)
print("______________________________________________")


#selecting movies based on the actor's name.
print('\nMOVIES based on the actor "Sidharth Malhotra"\n')
c.execute(''' SELECT MOVIE FROM Movies WHERE ACTOR = 'Sidharth Malhotra' ''')
df = pd.DataFrame(c.fetchall(), columns=['MOVIE'])
print (df)
print("______________________________________________")

#selecting movies based on the actoress name.
print('\nMOVIES based on the actress "Selena Gomez"\n')
c.execute(''' SELECT MOVIE FROM Movies WHERE ACTRESS = 'Selena Gomez' ''')
df = pd.DataFrame(c.fetchall(), columns=['MOVIE'])
print (df)
print("______________________________________________")


print('\nList of MOVIES released after the year "2010"\n')
c.execute(''' SELECT MOVIE,
              YEAR_OF_RELEASE
              FROM Movies
              WHERE YEAR_OF_RELEASE > 2010 
          ''')
df = pd.DataFrame(c.fetchall(), columns=['MOVIE','YEAR_OF_RELEASE'])
print (df)

    
conn.commit()

conn.close()

Database created and Successfully Connected to SQLite
______________________________________________

Columns in MOVIE table

MOVIE
ACTOR
ACTRESS
YEAR_OF_RELEASE
DIRECTOR
______________________________________________

Rows in MOVIE table

('The Notebook', 'Ryan Gosling', 'Rachel McAdams', 2004, 'Nick Cassavetes')
('Harry Potter', 'Daniel Radcliffe', 'Emma Watson', 2007, 'David Yates')
('Monte Carlo', 'Pierre Boulanger', 'Selena Gomez', 2011, 'Thomas Bezucha')
('Interstellar', 'Matthew McConaughey', 'Anne Hathaway', 2014, 'Christopher Nolan')
('Ek Villain', 'Sidharth Malhotra', 'Shraddha Kapoor', 2014, 'Mohit Suri')
('A Rainy Day in New York', 'Timothée Chalamet', 'Selena Gomez', 2019, 'Woody Allen')
('Shershaah', 'Sidharth Malhotra', 'Kiara Advani', 2021, 'Vishnuvardhan')
______________________________________________

MOVIES based on the actor "Sidharth Malhotra"

        MOVIE
0  Ek Villain
1   Shershaah
______________________________________________

MOVIES based on the actress "Selena Gomez"

                     MOVIE
0              Monte Carlo
1  A Rainy Day in New York
______________________________________________

List of MOVIES released after the year "2010"

                     MOVIE  YEAR_OF_RELEASE
0              Monte Carlo             2011
1             Interstellar             2014
2               Ek Villain             2014
3  A Rainy Day in New York             2019
4                Shershaah             2021